Repository LJX2017/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, engine, python, docs, ci, build, dependencies, ddl-change

feat(amber): add pyproject.toml in PyAmber for black formatter and flake8 linter config. (#3957)
  amber/requirements.txt
  amber/src/main/python/pyproject.toml
Labels: dependencies

fix(UDF editor): resize UDF editor window on browser window resize
  frontend/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
Labels: frontend

add
  .run/AccessControlService.run.xml
  .run/ComputingUnitManagingService.run.xml
  .run/ComputingUnitMaster.run.xml
  .run/ComputingUnitWorker.run.xml
  .run/ConfigService.run.xml
  .run/FileService.run.xml
  .run/TexeraServices.run.xml
  .run/TexeraWebApplication.run.xml
  .run/WorkflowCompilingService.run.xml
Labels: none

moved port buttons, increased button clicking size.
  frontend/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: frontend

break tie by user ID
  frontend/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: frontend

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'frontend/**'

backend:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'core/**'
          - all-globs-to-all-files:
              - '!core/log/**'
              - '!core/scripts/**'

engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
